/* General Styles (START) */
:root {
  --font-stack-title: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --font-stack-headers: sans-serif;
  --font-stack-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --text-max-width: 43.75em;
  --colour-purple: #9A16F2;
  --colour-green: #2EF283;
  --colour-orange: #F2AB2E;
  --colour-dark-purple: #701FA6;
  --colour-dark-green: #07A64C;
  --colour-dark-orange: #A66E0F;
  --colour-black: #000;
  --colour-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-stack-headers);
  position: relative;
  padding-bottom: 14rem;
  min-height: 100%;
}

h1, h2, h3 {
  font-family: var(--font-stack-main);
}

/* General Styles (END) */



/* Header Stlyes (START) */
header {
  /* Style */
  width: 100%;
  background-color: var(--colour-white);
} 

/* Navbar */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
}

nav img {
  width: 5rem;
  padding: 0;
  margin-left: 0.5rem;
}

nav ul {
  /* Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* Style */
  list-style-type: none;
}

nav li {
  padding: 0 0.5rem;
  font-size: 0.9rem;
}

nav a {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Styles */
  color: #000;
  text-decoration: none;
  min-height: 2em;
  font-weight: bold;
}

a {
  transition: color 0.25s;
}

a:hover {
  color: var(--colour-green);
}

.active {
  color: var(--colour-green);
}
/* Header Stlyes (END) */



/* Main Styles (START) */
main {
  /* Styles */
  max-width: 90em;
  margin: auto;
  padding: 1em;
}

main img {
  padding: 0;
  width: 100%;
}

main a {
  color: #000;
}

/* Home - Top banner section */
.home-banner {
  margin-bottom: 5rem;
  text-align: center;
}

.home-banner > img {
  max-width: var(--text-max-width);
}

.home-banner > h1 {
  font-family: var(--font-stack-title);
  font-size: 3rem;
}

.home-banner > div {
  margin-top: 2.5rem;
}

.home-banner > div > a {
  padding: 0.75rem;
  background-color: var(--colour-purple);
  color: var(--colour-white);
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.25s;
}

.home-banner > div > a:hover {
  background-color: var(--colour-dark-purple);
}

/* Home - Featured recipes and favourite recipes container styles
CSS grid with 2 columns, a grid gap and padding */
.featured-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  margin-bottom: 2em;
}

/* Featured recipes header
Spans 2 columns */
.featured-container > h2 {
  grid-column: 1 / span 2;
}

/* Top featured recipe 
Spans two columns */
.feature-recipe:nth-child(2) {
  grid-column: 1 / span 2;
  margin: 0;
}

/* Featured recipes find more recipes link 
Spans 2 columns, has extra padding, text center aligned */
.featured-container > a {
  grid-column: 1 / span 2;
  text-align: center;
  padding: 1em;
}

/* Home - Shopping list preview */
.preview-shop-ls-container {
  margin-bottom: 2em;
  color: var(--colour-black);
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
}

.preview-shop-ls-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
  margin-bottom: 0.5em;
}

.preview-shop-ls-container > div > a {
  margin-left: 3rem;
  padding: 0.5em 1.5em;
  font-weight: bold;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
  transition: background-color 0.25s;
  text-decoration: none;
}

.preview-shop-ls-container > div > a:hover {
  background-color: var(--colour-green);
  color: var(--colour-black);
}

.preview-shop-ls > ul {
  padding-left: 2em;
  padding-bottom: 0.5rem;
}

.preview-shop-ls > ul > li {
  padding-top: 1em;
  font-size: 1.1rem;
}

/* Home - Preview Favourites List */
.preview-favourites-empty {
  grid-column: 1 / span 2;
}

.preview-favourites-empty > div {
  margin: 2rem 0;
  margin-top: 4rem;
  text-align: center;
}

.preview-favourites-empty > div > a {
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
  background-color: var(--colour-purple);
  text-decoration: none;
  font-weight: bold;
  color: var(--colour-white);
  transition: background-color 0.25s;
}

.preview-favourites-empty > div > a:hover {
  background-color: var(--colour-dark-purple);
}

/* Recipes - Category Overview */
.pg-category-overview {
  padding: 1em;
}

.pg-category-overview > section {
  margin: 2em 0;
  padding: 1em;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
}

.pg-category-overview > section > a {
  margin: 2em 0;
}

/* Recipes - Browse Category */
.pg-browse-category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.pg-browse-category > h1, p {
  grid-column: 1 / span 2;
}


/* Favourites */
.pg-favourites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.pg-favourites > h1 {
  grid-column: 1 / span 2;
}

.favourite-recipe > button {
  margin: 1rem 0;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
  cursor: pointer;
  background-color: var(--colour-white);
  transition: background-color 0.25s;
}

.favourite-recipe > button:hover {
  background-color: var(--colour-orange);
}


/* View Recipe */
.view-recipe-container > h1 {
  padding-bottom: 1rem;
}

.recipe-aside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  font-size: 0.9rem;
}

.leading-info > p {
  padding: 1rem 0;
}

.leading-info > img {
  padding-bottom: 1rem;
}

.ingr-method-lists {
  padding: 1rem;
}

.ingr-method-lists > li {
  padding-bottom: 1rem;
}

.btn-container {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.action-btn {
  padding: 0.5rem 0;
  width: 100%;
  max-width: 30rem;
  font-weight: bold;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
  cursor: pointer;
  transition: color 0.25s;
  transition: background-color 0.25s;
}

.favourite-btn {
  background-color: var(--colour-green);
  /* color: var(--colour-white); */
}

.favourite-btn:hover {
  background-color: var(--colour-dark-green);
  color: var(--colour-white);
}

.unfavourite-btn {
  background-color: var(--colour-orange);
}

.unfavourite-btn:hover {
  background-color: var(--colour-dark-orange);
  color: var(--colour-white);
}

.add-ingredients-btn {
  background-color: var(--colour-purple);
  color: var(--colour-white);
}

.add-ingredients-btn:hover {
  background-color: var(--colour-dark-purple);
  color: var(--colour-white);
}

.added-ingredients-btn {
  background-color: var(--colour-dark-green);
  color: var(--colour-white);
  opacity: 0.8;
  cursor: initial;
}

/* Shopping List */
.empty-shopping-list {
  padding: 1rem 0;
}

.shopping-items-list {
  padding: 1rem 2rem;
  list-style-type: none;
}

.shopping-items-list > li {
  padding: 0.75rem;
  margin: 0.75rem 0;
  font-size: 1.1rem;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
}

.shop-ls-btn {
  padding: 0.5rem 1rem;
  width: 50%;
  max-width: 20rem;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
  background-color: var(--colour-white);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.25s;
}

.shop-ls-btn:hover {
  background-color: var(--colour-orange);
}

/* Edit Shopping List Item */
.pg-edit-item {
  padding: 1em;
}

.edit-item-form {
  margin: 4rem 0;
}

.form-field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
  font-size: 1.1rem;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
}

.form-field-container > label {
  padding-right: 0.25rem;
}

.input-qty {
  width: 4rem;
  padding: 0.125rem 0;
  text-align: center;
}

.form-btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  margin: 5rem 0;
}

.form-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--colour-black);
  background-color: var(--colour-white);
  font-weight: bold;
  cursor: pointer;
}

.form-btn:hover {
  color: var(--colour-white);
}

.remove-item-btn {
  background-color: var(--colour-orange);
}

.remove-item-btn:hover {
  background-color: var(--colour-dark-orange);
}

.save-item-btn {
  background-color: var(--colour-green);
}

.save-item-btn:hover {
  background-color: var(--colour-dark-green);
}

/* Main Styles (END) */


/* Footer Styles (START) */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--colour-black);
  color: var(--colour-white);
  padding: 1em;
  font-size: 0.9rem;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

footer > h2 {
  grid-column: 1 / span 2;
}

footer > section {
  padding-bottom: 0.5em;
}

footer > p {
  font-style: italic;
}
/* Footer Styles (END) */